<section class="post" id="post">
<h1>{{ blog.title.rendered | safe }}</h1>

{% if blog.featured_image %}
  {% if blog.featured_image.media_details.sizes.medium.source_url %}
    <img src="{{ blog.featured_image.media_details.sizes.medium.source_url }}" alt="blog image from wordpress post">
  {% elif blog.featured_image.media_details.sizes.medium.source_url %}
    <img src="{{ blog.featured_image.media_details.sizes.medium.source_url }}" alt="blog image from wordpress post">
  {% else %}
    <img src="{{ blog.featured_image.source_url }}" alt="blog image from wordpress post">
  {% endif %}
{% else %}
    <img src="" alt="default image if there is no blog image">
{% endif %}

	<div class="divider divider-primary"></div>
	<div class="media">
	  <div>
	    <p>By {% for author in blog.authors %}{{ author.name }}&nbsp;{% endfor %}|&nbsp;{{ bdate }}&nbsp;|&nbsp;{% if blog.terms.category %}{% endif %} {% for category in blog_categories %}&nbsp;<a href="{% url 'wordpress_api_blog_category_list' category.slug %}">{{ category.name }}</a>{% if not forloop.last %},{% endif %}{% endfor %}</p>
	  </div>
	</div>
	<div>{{ blog.content.rendered | safe | linebreaksbr }}</div>
	<div>
	{% for tag in blog_tags %}
		<a href="{% url 'wordpress_api_blog_tag_list' tag.slug %}"><span> {{ tag.name }}</span></a>
	{% endfor %}
	</div>
</section>

{% if related_blogs %}
  <h3>related Blog Posts</h3>
  {% for blog in related_blogs %}
    <div class="col-md-6">
          <a href="{% url 'wordpress_api_blog_detail' blog.slug %}">
            {% if blog.featured_image %}
              {% if blog.featured_image.media_details.sizes.medium.source_url %}
                <img src="{{ blog.featured_image.media_details.sizes.medium.source_url }}" alt="blog image from wordpress post">
              {% elif blog.featured_image.media_details.sizes.thumbnail.source_url %}
                <img src="{{ blog.featured_image.media_details.sizes.thumbnail.source_url }}" alt="blog image from wordpress post">
              {% else %}
                <img src="{{ blog.featured_image.source_url }}" alt="blog image from wordpress post">
              {% endif %}
            {% else %}
                <img src="" alt="default image if there is no blog image">
            {% endif %}
          </a>

          <a href="{% url 'wordpress_api_blog_detail' blog.slug %}"><h3>{{ blog.title.rendered | striptags | safe }}</h3></a>
          <small>
              <small style="font-size:12px">{{ blog.author.name }}</small>&nbsp;&nbsp;&nbsp;<small style="font-size:12px">{{ blog.bdate }}</small>
          </small>
          <p>{{ blog.excerpt.rendered | striptags | safe }}<a href="{% url 'wordpress_api_blog_detail' blog.slug %}">Continue reading</a></p>
    </div>
    {% empty %}
    <p>
    	Your search "{{ search }}"did not match any results.
    </p>
  {% endfor %}
{% endif %}

